.deleteBtn {
  background-color: #d73925;
}
.deleteBtn:hover {
  background-color: #ac2925;
}
.deleteBtn:active {
  background-color: #981511;
}
.common-row {
	margin: 18px;
}
.padding-8px {
  padding: 8px;
}
.margin-left-5px {
  margin-left: 5px;
}
.margin-left-10px {
  margin-left: 10px;
}
.margin-left-20px {
  margin-left: 20px;
}
.btns{
	margin: 18px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.bottom-line {
  border-bottom: 1px solid #d7d7d7;
}
.pos-relative {
  position: relative;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
/* 大小和父控件一样 */
.fill-parent {
  width: 100%;
  height: 100%;
}
/* 图片自适应 */
.img-self-adaptation {
  width: 100%;
  height: 100%;
}
/* 字体颜色 */
.font-color-white {
  color: #fff;
}
.font-color-dark-gray {
  color: #666;
}
.font-color-light-gray {
  color: #999;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* 常用字体大小设置 */
.title-font-size {
  font-size: 18px;
  line-height: 27px;
}
.content-font-size {
  font-size: 14px;
  line-height: 23px;
}
.tip-font-size {
  font-size: 12px;
}
/* 隔线 */
.line-divider {
  display: block;
  height: 9px;
  width: 1px;
  background-color: #999;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 1px;
}
/* 图片hover时变大 */
.img-scale {
  overflow: hidden;
}
.img-scale > img:hover {
  transform: scale(1.05);
  transition: transform .15s ease-in,-webkit-transform .15s ease-in;
}
/* 不吸收鼠标事件 */
.pointerevents-none {
  pointer-events: none;
}
/* 通用灰色细边框 */
.gray-thin-border {
  border: 1px solid #ebebeb;
}
/* div里面的文字换行设置 */
.line-feed {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
/* 旋转 */
@-webkit-keyframes rotation{
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
.Rotation-5s {
  -webkit-transform: rotate(360deg);
  animation: rotation 5s linear infinite;
  -moz-animation: rotation 5s linear infinite;
  -webkit-animation: rotation 5s linear infinite;
  -o-animation: rotation 5s linear infinite;
}
.Rotation-10s {
  -webkit-transform: rotate(360deg);
  animation: rotation 10s linear infinite;
  -moz-animation: rotation 10s linear infinite;
  -webkit-animation: rotation 10s linear infinite;
  -o-animation: rotation 10s linear infinite;
}
.Rotation-20s {
  -webkit-transform: rotate(360deg);
  animation: rotation 20s linear infinite;
  -moz-animation: rotation 20s linear infinite;
  -webkit-animation: rotation 20s linear infinite;
  -o-animation: rotation 20s linear infinite;
}
/* 通用select控件样式 */
.common-select {
  height: 36px;
  border-radius: 4px;
  outline: none;
  min-width: 100px;
  min-height: 26px;
  border-color: #d2d2d2;
  border-width: 1px;
  border-style: solid;
	margin: 0px 8px;
}
.common-select:focus {
  border-color: #20a0ff;
}
.common-select:hover {
  border-color: #8391a5;
}
/* 像<a>一样的按钮 */
.a-btn {
  color: #20a0ff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* 走马灯CSS，elementUI走马灯控件专用 */
.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}
.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}
.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
.el-menu-vertical-demo {
  display: inline-block;
  text-align: left;
  background-color: #fff;
  width: 90%;
}
/* 回到顶部控件 */
.gototop {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

input {
	margin: 8px;
  height: 26px;
  width: 200;
  border-color: #d2d2d2;
  border-width: 1px;
  border-style: solid;
  outline: none;
}
input:focus {
  border-color: #34a97e;
}
input:active {
  border-color: #34a97e;
}
.table{
  width: 100%;
  max-width: 100%;
}

th {
  // background-color: #34a97e;
  // background-color: #006cbf;
	background-color: #1090ef;
  border-color: #ddd;
  border-width: 1px;
  padding: 8px;
  color: #fff;
  font-weight: normal;
}

tr {
  background-color: #fdfdfd;
}
tr:nth-child(even) {
  background-color: #f4f4f4;
}
tr:hover {
  background-color: #ededed;
}

td {
  border-color: #ddd;
  border-width: 1px;
  padding: 8px;
}

a {
  color: #333;
}

button {
  outline: none;
}
